cc
<!DOCTYPE html>

<html lang="en">
 <head>
    <title>Mobile Shop | Free Bootstrap Themes by 365bootstrap.com</title>
	
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
	
	<link rel="stylesheet" href="/css/style.css">
	
	
	
	<script src="/js/jquery-2.1.1.js"></script>
	
	<script src="/js/bootstrap.min.js"></script>
	
	
</head>
    <body>
        <br />
        <br />
       			<div class="form-group">
	        
                         
        <form method="post" action="/Admin/addCatogary">
        ADD CATEGORY :
                <input type="text" name="name" id="name" /><br />
                <input type="submit" value="Save" />
        </form>
                       </div>
    </body>
</html>
