<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css"  type="text/css">
	
	<link rel="stylesheet" href="~/css/style4.css">
			<link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    
	  <script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
<link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
<link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE HTML>
<html>
	<body>
		    <div class="clear"> </div>
		    <div class="wrap">
		    <div class="content">
		    	<div class="about">
		    		<h4>About Us</h4>
		    		<div class="section group">
					<div class="col_1_of_3 span_1_of_3 about-frist">
						<h3>GmMobile</h3>

			<p>GmMobile is the leading online shop in Pakistan since last 6 years, we have satisfied thousands of people with our products.
GmMobile offers unique quality, the assurance of trust and a excellence service that distinguishes us above the rest. We offer competitive pricing but we also knew low prices alone could not make our business superior . We are determined to combine honest dealings with outstanding service before during and after the sale, if you have any queries please do not hesitate to Contact us our customer support team will be more than happy to serve you.</p>

					</div>
					<div class="col_1_of_3 span_1_of_3 about-centre">
						<h3>DELIVERY AND SHIPPING</h3>
						<a href="#"><img src="~/images//grid-img2.jpg"></a>
						<h5>DELIVERY </h5>
				<p>
                    GmMobile or its agent will deliver the goods you order to the address you specify in your order, subject to their availability within 24 - 48 hours after confirmation of order.

				</p>
                        <br />
                        <h5>SHIPPING:</h5>
				<p>
               We offer free delivery. No hidden / shipping / extra charges accross Pakistan

				</p>
					</div>
					<div class="col_1_of_3 span_1_of_3 quites">
						<h3>Terms and Conditionss</h3>
						<blockquote><p><img src="~/images//quotes_alt.png"> &nbsp;Whilst every effort has been made to ensure that the information supplied on this site is accurate, it is subject to change from time to time. MyMobiles reserves the right to change the information without any notice.
In the event of mistakes made by suppliers or website administrators while updating the product details such as product photographs, product specifications, package contents, price, etc. MyMobiles reserves the right to change the incorrect information without any notice. MyOnilneShop will not accept any liability for any loss or damage, which may be incurred by any person acting in reliance upon the incorrect information.</p></blockquote>
						<a href="index">-gmMobile.<span>lahore</span></a><br /><br />
					</div>
					<div class="clear"> </div>
					<div class="section group">
						<div class="cont span_2_of_3">
						       <h3>PRIVACY POLICY</h3>
			<p>Information we gather from you in the shape of making new accounts, purchase products, participating in contest, surveys and polls etc is what you provide us through the website or any other medium. Responding to your requests, customizing future shopping for you, improving our stores, and communicating with you is what is facilitated through it. Electronic Communication is apprehended and confirmed by us. <br />
                We send you only the information you wish to receive and give you every option to change your preferences whenever you wish. Our site includes third-party advertising and links to other websites. We do not provide any personally identifiable customer information to these advertisers or third-party websites.<br /> We are totally against spam emails. At GmMobile, we take your private information very seriously, and fully understand how frustrating it can get while receiving unsolicited emails from other companies repeatedly. We store your information on our secure servers and in any case we will not sell or disclose your information to other companies. <br />
                Our business changes constantly, and our Privacy Policy and the Conditions of Use will change also. We may e-mail periodic reminders of our notices and conditions, unless you have instructed us not to, but you should check our Web site frequently to see recent changes. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.<br /> It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.<br />
<br />NOTE:
WE DON'T SELL OR SHARE YOUR INFORMATION WITH OTHERS!</p>			</div>
						<div class="rsidebar span_1_of_3 about-frist">
						      
						</div>
		    </div>
				</div>
				
		    	</div>
		    	</div>
		    	
		    </div>
		    <div class="clear"> </div>
		</body>
</html>

