@model IEnumerable<shopping.Models.blog>
@{
 Layout = "~/Views/Shared/_partial.cshtml";
}
<html>
    <head>
        <title>

        </title>

@section scripts
{

    <script type="text/javascript">
        // Adding popstate event listener to handle browser back button  
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#ProductList7').html(result);
                }
            });
        });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


        $('body').on('click', '#ProductList7 .pagination a', function (event) {
            event.preventDefault();
            console.log('page');
            var searchString = $('#SearchString').val();
            if (searchString == undefined || searchString == '') {
                searchString = '';
            } else {
                searchString = '&searchString=' + searchString;
            }
            var url = $(this).attr('href') + searchString;
            console.log(url);
            $.ajax({
                url: url,
                success: function (result) {
                    ChangeUrl('index', url);
                    $('#ProductList7').html(result);
                }
            });
        });




    </script>        
      }  
        
        </head>
    <body>
        <div id="ProductList7">
    @Html.Partial("ProductList7", Model)

</div>

      