<div class="container">
			<div class="row">
@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post,
                               new { enctype = "multipart/form-data" }))
 
{
    <input type="hidden" class="form-control" id="uname" name="uname" value="@ViewBag.nam">
     <br />
     <div class="form-group">
    <label for="password">Enter New Password:</label>
    <input type="password" class="form-control"  name="pass" >
  </div>
     <br />
     <div class="form-group">
    <label for="password">Enter AGAIN NEW PASSWORD:</label>
    <input type="password" class="form-control"  name="newpass" >
  </div>
  
    
      				<button type="submit" class="btn btn-1" name="submit" >reset</button> 
   
}</div></div>