<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>terms and condition </h1>

    <p>
        Whilst every effort has been made to ensure that the information supplied on this site is accurate, it is subject to change from time to time. MyMobiles reserves the right to change the information without any notice.<br />

In the event of mistakes made by suppliers or website administrators while updating the product details such as product photographs, product specifications, package contents, price, etc. MyMobiles reserves the right to change the incorrect information without any notice. MyOnilneShop will not accept any liability for any loss or damage, which may be incurred by any person acting in reliance upon the incorrect information.
</p>        <br />

<h2>COLOR DIFFERENCE:</h2>
        <br />

<p>Colors appear on screen should be slightly differ from original.
   </p> 
<br />
<h2>ORDERS:
    </h2>
    <p>
All orders placed through this web site are subject to confirmation and acceptance by MyMobiles.<br />
Within one working day of order placement, our sales personnel will contact you, either by phone or email to confirm the availability of the goods, delivery date, etc. Only after receiving the phone call or email confirmation by our sales personnel will your order is considered confirmed and effective.
    </p>
</div>

</body>
</html>
