<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mobile Shop | Free Bootstrap Themes by 365bootstrap.com</title>
	
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
	
	<link rel="stylesheet" href="/css/style.css">
	
	
	
	<script src="/js/jquery-2.1.1.js"></script>
	
	<script src="/js/bootstrap.min.js"></script>
	
	
</head>

<body>
  @using (Html.BeginForm("updat","Home",FormMethod.Post,   new { enctype = "multipart/form-data" }))
{
            
    		 <input class="form-inline quantity " type="text" name="name">
       <input type="submit" value="Create" class="btn btn-2"/>
       
}

</body>
</html>
